body {
    /*background-color: #f6f7f6;*/
    background-color: white;
  }
  #main {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .main-body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #pdf-container {
    width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e3033;
  }
  
  .pdf-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pdf-info h4 {
    color: #5fcf80;
    margin-bottom: 20px;
  }
  .pdf-info h6 {
    color: #393E46;
    margin-bottom: 20px;
  }
  .pdf-info p {
    color: #333;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: justify-content;
  }
  .pdf-info span {
    margin-left: 10px;
    font-size: 10px;
  }
  .info {
    padding: 30px;
    height: auto;
    background-color: #ffffff;
  }
  #bookmark, #cite {
    color: #5fcf80;
    background-color: transparent;
    border:none;
  }