.notifications-dropdown .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 9px;
    overflow: hidden;
}

.notifications-dropdown .dropdown-menu-header {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 6px;
    background: #29cc61;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 6px;
}

.notifications-dropdown .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 350px;
    white-space: inherit;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.notifications-dropdown .dropdown-item:last-child {
    border-bottom: none;
}

.notifications-dropdown .dropdown-item small {
    color: #6f6f6f;
}

.notifications-dropdown a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    width: 100%;
    padding-top: 2px;
    padding-left: 8px;
}

.notifications-dropdown img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 2px solid #29cc61;
}

.notifications-dropdown-footer {   
    text-align: center;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #e2e2e2;
    text-transform: uppercase;
}

#custom-dropdown {
    background-color: #fff;
    color: black;
}